header {
    background-image: linear-gradient(to right, #3463BC, #20094B);
    color: #FFFFFF;
}

.search-history {
    xborder-bottom: 2px solid black;
    xborder: 1px solid red;
}

.weather-info {
    xborder: 1px solid blue;
}

.today {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.five-day {
    xborder: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #2D3E50;
    color: white;
    padding: 10px;
}

.five-day h4 {
    margin: 0;
    padding: 0;
}